/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}
.container {

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 100%; */
    min-height: 97vh;
    border: 2px solid #E41E46;
    margin: 10px;
}
.body, .body2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.body2 {
}
.body2 .body2-container {
    width: 200px;
    height: 200px;
    font-size: 10rem
}
.body2 .card p {
    border: 2px solid #E41E46;
    /* font-size: 4em; */
}
.card {
    position: relative;
}
.info {
    border: 1px solid #1F2A44;
    font-family: monospace;
    position: absolute;
    top: -3rem;
}
.textInput {
    position: absolute; 
    padding: 0.3rem;
    top: 2rem;
    border: 1px solid black;
}
.textfit {
    border: 2px solid #453536;
    width: 200px; 
 height: 200px;
    /* line-height: 1; */
}

p {
    /* font-size: 2rem; */
    width: 100%;
    height: 100%;
}
.shape {
    float: right;
    shape-outside: circle(39%);
    width: 82px;
    height: 104px;
    shape-margin: 8px;
}
.overflow {
    color: red;
}